.centered-text-section {
  text-align: center;
  max-width: 800px;
  margin: 5rem auto;
  padding: 0 1rem;
}

.centered-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--primary-gradient);
  margin-bottom: 1rem;
}

.centered-text {
  font-size: 1.2rem;
  line-height: 1.8;
  color: var(--icon-color);
  font-style: italic;
}

@media screen and (max-width: 768px) {
  .centered-text-section {
    margin: 3rem auto;
  }
  .centered-title {
    font-size: 1.5rem;
  }
  .centered-text {
    font-size: 1.1rem;
  }
}